.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .ant-input,
  .ant-input-password {
    width: 100%;
  }
  
  .button-return {
    width: 100%;
    background-color: rgb(223, 223, 223);
    color: #272727;
    box-shadow: none;
  }